:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
a{
  color: #444444;
  text-decoration: none;
}
a:hover{
  color: #43e76c;
  text-decoration: underline;
}
.my-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  
}
.logo{
  padding: 10px 0;
}

/* home page css */
.main-content{
  width: 100%;
  padding: 10px 0px;
}
/* sidebar css */
.sidebar {
  padding: 10px;
  width: 300px;
  background: #F8FAFC;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.active {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
  background-color: #d6e2fb;
}
.default {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
}
/* inbox css */
.title{
  width: 100%;
  padding: 10px;
}
.read-btn{
  padding-right: 20px;
}
/* archive section css */
.content-header{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.email-box{
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-top: 1px solid rgb(228, 228, 228);
}
.email-box:hover{
  background-color: #f4fdff;
}
.modal-box{
  display: none;
}
.modal-box-toggle{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.full-bg{
  background-color: rgba(110, 110, 110, 0.205);
  height: 100%;
  width: 100%;
}
.details-box{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: white;
  height: 100%;
  width: 40%;
}
.close-btn{
  cursor: pointer;
  padding: 10px 0;
}