:root {
  --background: #ffffff;
  --foreground: #171717;
}


* {
  padding: 0;
  margin: 0;
}

a{
  color: #2e2e2e;
  text-decoration: none;
}
a:hover{
  color: #a6aca7;
  text-decoration: underline;
}
.my-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  position: relative;
  
}
.logo{
  padding: 10px 0;
}
.head-title{
  padding-left: 10px;
}
/* home page css */
.main-content{
  width: 100%;
  padding: 10px 0px;
}
/* sidebar css */
.sidebar {
  padding: 10px;
  width: 300px;
  background: #F8FAFC;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.btn{
  display: flex;
  gap: 5px;
}
.icons{
  display: flex;
  gap: 5px;
}
.options{
  display: flex;
  gap: 16px;
}
.sidebar-container {
  height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.active {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
  background-color: #d6e2fb;
}
.default {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 20px;
  text-align: center;
}
/* inbox css */
.title{
  width: 100%;
  padding: 10px;
}
/* archive section css */
.content-header{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.email-box{
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-top: 1px solid rgb(228, 228, 228);
}
.email-box:hover{
 background-color: #D1E2FF;
}
.modal-box{
  display: none;
}
.modal-box-toggle{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.full-bg{
  background-color: rgba(110, 110, 110, 0.205);
  height: 100%;
  width: 100%;
}
.details-box{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: white;
  height: 100%;
  width: 40%;
}
.close-btn{
  cursor: pointer;
  padding: 10px 0;
}